/*header开始*/
#header{
    background: url(../img/banner.jpg) no-repeat center 80%;
    height: 600px;

}
#login,#header h1,#cart{
    color: white;
    width: 380px;
    
}
#login a{
    color:white;
}
#main_header #cart{
    width: 260px;
    height: 30px;

    background:#000 url(../img/cart.png) no-repeat right;
    opacity:0.6;
    filter:alpha(opacity=60);
    text-align:center;
    padding: 10px;
    line-height: 30px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 100px;
}
#main_header p{
    color: #fff;
    height: 50px;
    width: 100px;
    position: relative;
    top:-63px;
    left:950px;
}
#header .float,#new-product .float{
    float:left;
}
#header h1 {
    cursor: pointer;
    text-align: center;
}
#header .wrapper{
    height: 100%;
}
#main_header{
    height: 100px;
    line-height: 100px;
    /*background: #f00;*/
    width:100%;
}
#login a:hover{
    text-decoration: underline;
}
#nav{
    height: 40px;
}
#nav li{
    width:190px;
    height: 40px;
    background: deeppink;
    float: left;
    text-align: center;
    line-height: 40px;
}
#nav li a{
    color:white;
    width: 100%;
    height:100%;
    display:block;
}
#mei-menu{
    height: 400px;
    width:1140px;
    background: white;
    margin-left: -190px;
    display:none;
}
#nav .change:hover{
    background: palevioletred;
}
#mei:hover #mei-menu{
    display:block;
}
#mei-menu div{
    float: left;
    width: 20%;
    height: 100%;
    background:lightpink;
}
#mei-menu div a{
    height:50px;
    width:190px;
    display:block;
}
#mei-menu div h4{
    padding-right: 38px;
}
#mei-menu div a:hover{
    text-decoration: underline;
}
/*header结束*/
/*new-product开始*/
#new-product{
    height: 210px;
    margin-top: 56px;
    /*background: #f00;*/
}
#new-product .npb{
    height: 100%;
    width:380px;
}
#npb1{
    background: url(../img/bg1.jpg) no-repeat left 0;

}
#npb2{
    background: url(../img/bg2.jpg) no-repeat center 0;

}
#npb3{
    background: url(../img/bg3.jpg) no-repeat right 0;
}
#new-product .npb h2{
    color: #ffff00;
    padding-top: 156px;
    padding-left: 190px;
    cursor: pointer;
    font-size: 33px;
    font-weight:bolder;
}
/*new-product结束*/
/*product开始*/
#product{
    margin-top: 40px;
    height: 1000px;
}
#product .box{
    border:1px solid #ccc;
    width:360px;
    height: 439px;
    margin-right: 18px;
    margin-top: 20px;
    float: left;
}
#product .box img{
    height:248px;
    width:248px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#product .box span{
    background: deeppink;
    color: white;
    float: right;
}
#product .box p{
    font-size: 27px;
}
#product .box input{
    text-indent:10px;
    height:28px;
    margin: 10px 0;
    outline:none;
}
#product .box button{
    color:white;
    background: deeppink;
    width: 150px;
    height: 38px;
    font-size: 27px;
    font-weight:800;
}
/*product结束*/
/*problem开始*/
#problem{
    background: url("../img/banner.jpg") no-repeat center;
    height: 297px;
}
#problem .box ul{
    padding-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    width:100%;
}

#problem .box li{
    list-style:disc;
    color: #fff;
    width:100%;
    cursor: pointer;
}
#problem .box{
    float: left;
    width:190px;
    margin-right: 30px;
}
#problem .box li:hover{
    text-decoration: underline;
}
#footer{
    height:80px;
    background: deeppink;
}
#footer h2,#footer h3{
    color:white;
    line-height: 80px;
}
#footer h3{
    float: right;
}
#footer h2{
    float: left;
}
#footer h2:hover{
    background: #f00;

}